<nav class="navbar navbar-expand-lg navbar-light w3-black">
        <div class="w3-hide-medium w3-hide-large mb-4 w3-center w3-small">
            <a href="/" class="btn w3-orange w3-padding">Home</a>
            <a href="https://api.whatsapp.com/send/?phone=6285298595111&text=Assalamualaykum. Saya menemui kendala ...&app_absent=0" class="btn w3-orange w3-padding">Hubungi Admin</a>
            <a href="/access" class="btn w3-orange w3-padding">Logout</a>
        </div>
</nav>