<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-md-8 mt-3 mb-4"> 
                     <div class="alert alert-success" role="alert"> 
                        <h5><b>Data Anda telah tersimpan.</b></h5><br>
                        <h5>Tahap selanjutnya adalah: <b>Tahap Pembayaran</b><br>
                        Untuk memudahkan Anda, Anda akan dialihkan ke <b>Pembayaran Digital</b>. 
                        <br><br> Anda akan diminta memasukkan data yang sama dengan sebelumnya ke Pembayaran Digital. 
                        <br><br>Klik link di bawah ini:</h5>
                    </div>
            <a href="https://app.sandbox.midtrans.com/payment-links/1625099519722" class="card-link text-primary">&laquo; <b>Klik disini untuk menyelesaikan Tahap Pembayaran Zakat.</b></a>
        </div>
    </div>
</div>