<div class="container mb-4">
    <div class="row">
        <div class="col-md-8 mt-3 w3-cursive">
            <h3 class="w3-cursive mt-4">Voucher...voucher...</h3>
            <p>Anda mendapatkan diskon 50% dan gratis minum teh, kopi, atau minuman dingin lainnya.</p>
            <img src="<%= url %>" alt="voucher" class="w3-image">
            <p class="fw-bold">Nanti tunjukkan voucher ini ke kasir ya...<br>
            Jika lupa cara akses voucher-nya, klik tombol VOUCHER di sudut kanan atas...</p>
            <a href="/" class="card-link text-primary">&laquo; kembali ke halaman utama</a>
        </div>
    </div>
</div>