<div class="container mb-4">
  <p class="info mt-4">Cafe Center Point merupakan cafe, resto, dan catering dengan nuansa persawahan di tengah perkotaan sehingga menjadi pilihan tepat berwisata kuliner yang menyenangkan dan menyehatkan.</p>
  <img src="images/lokasi-ccp.jpg" alt="" class="w3-image">

  <!-- Food & Drink Section -->
    <div class="w3-container w3-padding-32" id="about">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-cursive">Selamat datang di Cafe kami...</h3>
      <p>Disini tersedia berbagai jenis menu makanan dan minuman yang istimewa, murah meriah, lezat, dan Alhamdulillah halal lagi baik..</p>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="images/merdeka.jpg" alt="John" style="width:100%">
        <h3>Paket Merdeka Makan</h3><br>
        <p>Paket Merdeka Makan (PMM) merupakan makanan siap saji dengan layanan self-service. Harga sangat terjangkau. Pilih sendiri makanan sesuka hati Anda, nikmati sepuasnya.</p><br>
        <a href='https://api.whatsapp.com/send/?phone=6285298595111&text=Assalamualaykum. Saya mau pesan paket merdeka makan...&app_absent=0' style="text-decoration: none;">
        <p><button class="w3-button w3-green w3-block">Pesan PMM Sekarang <i class="fa fa-whatsapp"></i></button></p></a>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="images/eksklusif.jpg" alt="Jane" style="width:100%">
        <h3>Paket Eksklusif</h3><br>
        <p>Pesan khusus makanan favorite Anda. Paket eksklusif ikan bakar, ayam bakar, iloni, ikan woku, dan makanan khas lainnya yang disajikan secara istimewa. Rasa dan sajiannya menggugah selera.</p>
        <a href='https://api.whatsapp.com/send/?phone=6285298595111&text=Assalamualaykum. Saya mau pesan paket eksklusif...&app_absent=0' style="text-decoration: none;">
          <p><button class="w3-button w3-green w3-block">Pesan Eksklusif Sekarang <i class="fa fa-whatsapp"></i></button></p></a>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="images/coffeeshop.jpg" alt="Mike" style="width:100%">
        <h4>Coffee Shop & Meeting Room</h4>
        <p>Lokasi dekat dengan Tugu paling terkenal di Gorontalo plus suasana alam hijau nan permai yang dilengkapi Wi-FI berkecapatan tinggi pastinya sangat pas dengan kebutuhan Anda.</p>
        <a href='https://api.whatsapp.com/send/?phone=6285298595111&text=Assalamualaykum. Saya mau pesan menu coffeeshop...&app_absent=0' style="text-decoration: none;">
          <p><button class="w3-button w3-green w3-block">Reservasi Tempat Sekarang <i class="fa fa-whatsapp"></i></button></p></a>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="images/catering.jpg" alt="Dan" style="width:100%">
        <h3>Catering</h3><br>
        <p>Kami juga menerima pesanan catering untuk acara-acara seperti aqiqah, ulang tahun, ujian di kampus, atau acara kantoran. Hubungi kami dan pesan menu yang Anda inginkan.</p>
        <a href='https://api.whatsapp.com/send/?phone=6285298595111&text=Assalamualaykum. Saya mau pesan paket catering untuk ...&app_absent=0' style="text-decoration: none;">
          <p><button class="w3-button w3-green w3-block">Pesan Catering Sekarang <i class="fa fa-whatsapp"></i></button></p></a>
      </div>
    </div>
  </div>