<!-- PAKET -->
<div class="container w3-cursive mb-4">
  <p class="info mt-4">Cafe Center Point merupakan cafe, resto, dan catering dengan nuansa persawahan di tengah perkotaan sehingga menjadi pilihan tepat berwisata kuliner yang menyenangkan dan menyehatkan.</p>
  <img src="images/lokasi-ccp.jpg" alt="" class="w3-image">

  <h2>TERSEDIA PAKET<h2>
      <div class="paket">
        <ol>
          <li>PAKET MERDEKA MAKAN<br>
            <span>Paket Merdeka Makan merupakan makanan siap saji dengan layanan self-service. Harga sangat terjangkau. Pilih sendiri makanan sesuka hatimu, nikmati sepuasmu.
            </span>
          </li>
          <li>PAKET EKSKLUSIF<br>
            <span>Pesan khusus makanan favorite kamu. Kami menyediakan berbagai macam iloni,
            tinutuan, milu siram, kuah bugis, dan lain-lain yang merupakan makanan khas Sulawesi.
            </span>
          </li>
          <li>Coffe Shop<br>
            <span>Tentu saja kamu bisa gopi bareng teman-teman disini. Mau ngopi sendirian sambil nyelesein kerjaan juga bisa. Kopi disini mantap. Ada kopi Toraja, kopi Pinogu, dan banyak lagi dah.</span>
          </li>
          <li>Menerima Pesanan catering<br>
          <span>Kami juga menerima pesanan catering untuk acara-acara seperti aqikah, ulang tahun, ujian di kampus, atau acara kantoran. Hubungi kami dan pesan menu yang kamu inginkan.
          </span>
          </li>
        </ol>
      </div>
</div>
<!-- akhir Info Paket -->