<div class="container" style="position: relative;">
    <img src="images/ccp-cover.jpg" alt="" class="w3-image">
    <div style="position: absolute; top: 25%; left: 25%">
        <h3 class="w3-cursive mt-2">Voucher...</h3>
        <a href="/voucher/add" class="btn w3-black mt-4">Ambil Voucher!</a>
    </div>
    
</div>