<div class="container w3-cursive" style="position: relative;">
    <img src="images/ccp-cover.jpg" alt="" class="w3-image">
    <div style="position: absolute; top: 19%; left: 25%">
        <div class="chat" id="whatsapp">
            <a href='https://api.whatsapp.com/send/?phone=6285298595111&text=Assalamualaykum. Saya mau pesan ...&app_absent=0'>
              <button>Chat kami<br> via whatsapp <i class="fa fa-whatsapp"></i></button>
            </a>
            <div class="w3-hide-small">
                <p class="mt-4">Klik tombol hijau di atas!</p>
                <p><i>bisa reservasi tempat...<br>atau pesan catering...</i></p>
            </div>
            
        </div>
    </div>
</div>